@media only screen and (min-width:768px ){
    .wrap-menu{
        display: block;
    }
    .menu-mobile{
        display: none;
    }

   
    
}
@media only screen and (max-width:767px ){
    .wrap-menu{
        display: none;
    }
    .menu-mobile{
        display: block;
        position: relative;
    }
    .menu-mobile>* {
        float: left;
    }
    .menu-mobile i{
        font-size: 24px;
        margin-top: 18px;
        margin-bottom: 18px;
        margin-left: 15px;
        cursor: pointer;
        
    }
    .menu-mobile .logo{
        width: 101px;
        padding: 2px;
    }
    #show-menu-mobile{
        display: none;
        position: absolute;
        top: 50px;
        z-index: 1;
        padding: 0px 15px;
        background: #ccc;
        width: 100%;
        color: black;
    }
    #show-menu-mobile li{
        padding: 10px 0px;
        border-bottom: 1px solid #333;
        
    }
    #show-menu-mobile li:last-child{
        border-bottom:none;
    }
    #show-menu-mobile li:hover{
        background-color: rgb(212, 212, 212);
        
    }
   
  
    
}